/* global style */
* {
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin-bottom: 0;
}

img {
  width: 100%;
}

body {
  font-family: "Avenir Next Medium", sans-serif;
  background-color: #11364e;
  color: #fff;
}

/* wrapper */
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

/* header */
/* btn home */
.btn-home {
  padding: 5px;
}

.btn-home__page {
  background-color: black;
  text-decoration: none;
  border-radius: 10%;
  cursor: pointer;
  color: gold;
  padding: 5px;
}
/* end of btn home block */
/* end of header block */

.c-contact-us__wrapper {
  margin: 140px auto;
  width: 370px;
}

.c-contact-us__title {
  font-family: "Avenir Next Regular";
  letter-spacing: -0.5px;
  margin-bottom: 35px;
  font-size: 38px;
}

/* section */

.c-contact-us__item {
  border-bottom: 1px solid silver;
  margin-bottom: 30px;
  flex-flow: column;
  font-size: 13px;
}

.c-contact-us__item__input {
  background-color: transparent;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  margin-top: 15px;
  font-size: 16px;
  color: white;
  outline: none;
  border: none;
}

.c-contact-us__item__textarea {
  background-color: transparent;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  resize: vertical;
  margin-top: 15px;
  font-size: 16px;
  color: white;
  outline: none;
  height: 90px;
  border: none;
}

/* form btn */
.form-btn__submit {
  font-family: "Avenir Next Demi Bold", sans-serif;
  background: #ff7f57;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  border: none;
  height: 60px;
}
/* end of form btn block */
/* end of form block */
/* end of section block */

/* footer */
.footer__wrapper {
  font-family: "Avenir Next Regular", sans-serif;
  background-color: #13253a;
  padding: 20px 0;
  height: 50px;
}
/* end of footer block */