.wrapper {
  background: whitesmoke;
  padding: 1rem;
  margin: 0;
}
#googleMap {
  margin: 5rem auto 2rem;
  height: 35rem;
  width: 80%;
}

.form-control {
  margin: 1rem auto;
  width: 70%;
}
.btn-form {
  padding: 0.5rem 2rem;
  margin: 1rem 45%;
  background-color: burlywood;
}

.btn-form:hover {
  color: aqua;
}