* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  background-color: #fdde7e;
  display: flex;
  justify-content: center;
}

/* blocks */

.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 1200px;
  height: 600px;
  flex-wrap: wrap;
}

.block1,
.block3 {
  width: 360px;
  height: 440px;
  background-color: white;
}

.block2 {
  width: 360px;
  height: 500px;
  background-color: white;
}

/* end of blocks */

/* h1 */

.title-price1,
.title-price3 {
  color: #02995b;
  font-size: 60px;
  margin: 35px 0 15px 0;
}

.title-price2 {
  color: #02995b;
  font-size: 60px;
  margin: 45px 0 35px 0;
}

/* end of h1 block */

/* pictures */

.picture {
  width: 150px;
  height: 135px;
  position: relative;
  margin: 0 auto;
}

.smoke {
  width: 50px;
  height: 46px;
  position: absolute;
  top: 0;
  right: calc(50% - 25px);
}

.cup {
  width: 135px;
  height: 77px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.bean {
  width: 36px;
  height: 45px;
  position: absolute;
  bottom: 18px;
  left: 56px;
}

/* end of pictures block */

/* text */

.color-cup {
  margin-top: 40px;
  font-size: 35px;
  font-weight: 500;
}

.text-cup{
  margin-top: 25px;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 300;
}

/* end of text block */