.wrapper {
  background-color: #E2E7EC;
}

.com-container {
  max-width: 1140px;
}

.first-block {
  max-width: 740px;
}

.text-block {
  padding: 0 40px 20px;
  width: 100%;
}

.com-col {
  height: auto;
  min-height: 540px;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

img {
  width: 100%;
}

.column__text {
  display: flex;
  flex-direction: column;
  padding: 25px;
  height: 100%;
}

.column__text__data + .column__text__exposition {
  margin-top: 30px;
}

.column__text__p {
  font-size: 13px;
  color: #818181;
  margin-bottom: 0;
}

.column__text__exposition {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-top: 50px;
}

.column__text__title {
  font-size: 24px;
}

.column__text__foto {
  display: flex;
  align-content: flex-end;
  max-width: 54px;
  max-height: 54px;
}