* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  background-color: #fdde7e;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* blocks */

.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  min-width: 1200px;
  min-height: 600px;
  flex-wrap: wrap;
}

.block1,
.block3 {
  min-width: 360px;
  min-height: 440px;
  background-color: white;
}

.block2 {
  min-width: 360px;
  min-height: 500px;
  background-color: white;
}

/* end of blocks */

/* h1 */

.title-price1,
.title-price3 {
  color: #02995b;
  font-size: 60px;
  margin: 35px 0 15px 0;
}

.title-price2 {
  color: #02995b;
  font-size: 60px;
  margin: 40px 0;
}

/* end of h1 block */

/* pictures */

.coffee {
  height: 135px;
  width: 134px;
}

.svg {
  height: 135px;
  width: 134px;
  fill:silver
}

/* end of pictures block */

/* text */

.color-cup {
  margin-top: 40px;
  font-size: 35px;
  font-weight: 500;
}

.text-cup{
  margin-top: 25px;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 300;
}

/* end of text block */