body {
  background-color: rgb(233, 233, 233);
}

.com-container {
  min-width: 1600px;
  min-height: 940px;
  padding: 120px;
  font-size: 18px;
  font-family: 'lato-light', sans-serif;
}

.col-12_title {
  font-family: 'play-reg', sans-serif;
  font-size: 42px;
  margin-bottom: 30px;
}

.col-12_p {
  line-height: 34px;
  letter-spacing: 2px;
  color: #C3C3C3;
  margin: 0;
}

p:first-of-type:first-letter {
  color: black;
  font-family: 'play-reg', sans-serif;
  font-size: 110px;
  line-height: 0.85;
  margin-right: 20px;
  float:left;
}

.col-12_p-z {
  font-size: 24px;
  margin-bottom: 35px;
}

.col-12-span {
  line-height: 40px;
  font-size: 60px;
}

.col-12_btn {
  text-decoration: none;
  letter-spacing: 3px;
  padding: 25px 75px;
  border: 2px solid #EAA258;
  color: #EAA258;
  font-family: 'lato-bold', sans-serif;
}