body {
  font-family: "raleway-bold", sans-serif;
  background-color: #70BFFF;
  line-height: 27px;
  font-size: 20px;
}

p {
  margin: 0;
  text-align: center;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
}

/* BTN */
.btn-home {
  padding: 5px;
}

.btn-home__page {
  background-color: black;
  text-decoration: none;
  border-radius: 10%;
  color: gold;
  padding: 5px;
}
/* end of btn block */

/* navigation */
.nav__wrapper {
  margin-top: 177px;
  margin-left: 89px;
}

.nav__item {
  margin: 0 auto 20px auto;
  text-decoration: none;
  min-height: 100px;
  max-width: 400px;
}

.nav__item__icon {
  border-left: 1px solid gray;
  min-height: 100px;
  min-width: 100px;
}

.fas {
  font-size: 40px;
}

.nav_icon {
  max-width: 100px;
}

/* end of nav block */

/* services */
.services__wrapper {
  padding: 100px 10px 70px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-image: url('../images/img1.png');
  background-repeat: no-repeat;
  background-position: center;
}

.services__title__main {
  font-size: 90px;
  top: 310px;
  left: 31px;
}
/* end of services block */