@font-face {
  font-family: 'raleway-light';
  src: url(../fonts/raleway/Raleway-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-bold';
  src: url(../fonts/raleway/Raleway-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'lato-light';
  src: url(../fonts/lato/Lato-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'lato-bold';
  src: url(../fonts/lato/Lato-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}