/* Global style */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}


/* Main style */
body {
  background-color: black;
}

/* Flower */
.c-flower {
  position: fixed;
  right: 100px;
  top: 100px;
}

/* line */
.c-flower__lines__item {
  position: absolute;
  width: 100%;
  height: 4px;
  z-index: 3;
}

.c-flower__lines__item--vertical-mini {
  transform: rotate(45deg);
}

.c-flower__lines__item--vertical {
  transform: rotate(90deg);
}

.c-flower__lines__item--vertical-big {
  transform: rotate(135deg);
}

.e-line {
  background-color: silver;
  height: 100%;
  width: 100%;
}
/* end of line block */

.c-flower__wrap {
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  padding: 40px;
  height: 600px;
  width: 600px;
}

.c-flower__circle-item {
  transition: .35s cubic-bezier(.4,0,.2,1);
  position: absolute;
  height: 100px;
  width: 100px;
  z-index: 4;
}

/* small circle */
.c-flower__circle-item--top {
  top: 0;
}

.c-flower__circle-item--top:hover {
  transform: scale(1.3) translateY(-30px);
}

.c-flower__circle-item--top-right {
  right: 55px;
  top: 55px;
}

.c-flower__circle-item--top-right:hover {
  transform: scale(1.3) translate(30px, -30px);
}

.c-flower__circle-item--right {
  right: 0;
}

.c-flower__circle-item--right:hover {
  transform: scale(1.3) translateX(30px);
}

.c-flower__circle-item--right-bottom {
  bottom: 55px;
  right: 55px;
}

.c-flower__circle-item--right-bottom:hover {
  transform: scale(1.3) translate(30px, 30px);
}

.c-flower__circle-item--bottom {
  bottom: 0;
}

.c-flower__circle-item--bottom:hover {
  transform: scale(1.3) translateY(30px);
}

.c-flower__circle-item--left-bottom {
  bottom: 55px;
  left: 55px;
}

.c-flower__circle-item--left-bottom:hover {
  transform: scale(1.3) translate(-30px, 30px);
}

.c-flower__circle-item--left {
  left: 0;
}
 
.c-flower__circle-item--left:hover {
  transform: scale(1.3) translateX(-30px);
}

.c-flower__circle-item--top-left {
  left: 55px;
  top: 55px;
}

.c-flower__circle-item--top-left:hover {
  transform: scale(1.3) translate(-30px, -30px);
}


/* Circle style */
.circle {
  background-color: silver;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.circle--yellow {
  background-color: yellow;
  left: calc(50% - 75px);
  top: calc(50% - 75px);
  position: absolute;
  height: 150px;
  width: 150px;
  z-index: 10;
}

.circle--red {
  background-color: darkred;
  z-index: 55;
}

/* yellow circle hover  */
.circle--yellow:hover {
  transition: 0.4s ease-in-out;
  transform: scale(0.8);
  cursor: pointer;
}

.circle--yellow:hover ~ .c-flower__wrap  {
  animation: rotation infinite;
  animation-duration: 1s;
}

.circle--yellow:hover ~ .c-flower__wrap .c-flower__circle-item  {
  transform: scale(1.5);
}