body {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
}

/* header */
.header {
  margin: 30px auto;
  text-align: center;
}

.header__btn {
  background-color: black;
  display: inline-block;
  text-decoration: none;
  color: yellow;
  padding: 20px;
}

/* content */
.content__wrapper {
  display: flex;
}

.content__time {
  margin: 0 auto;
  justify-content: center;
  display: flex;
}

.out {
  align-items: center;
  border: 1px solid black;
  justify-content: center;
  display: flex;
  background: gray;
  color: #262626;
  height: 100px;
  width: 100px;
}